<nav class="navbar navbar-default">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Missy's Movie Collection</a>

        <ul class="nav navbar-nav navbar">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown">Current Collection <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li><a href="#">Filter by Title</a></li>
          <li><a href="#">Filter by Viewed</a></li>
          <li><a href="#">Filter by Rating</a></li>
          <li><a href="#">View/Edit Collection</a></li>
          </ul>
          </li>
        </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown">Wish List <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><a href="#">View/Edit Wish List</a></li>
            </ul>
          </li>
          </ul>
        </div>

