h3 { font-family: "Garamond", sans-serif;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px lightgray;
  font-weight: 800;
  text-align: center;
}


* {
  font-family: Garamond;
}

h4 {
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
