<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive max-height: 200px">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{movie.title}}</h1>
    <h3>{{movie.releaseDate}}</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Options</button>
      <ul class="dropdown-menu">
        <li><a href="#">Read More</a></li>
        <li><a href="#">Edit Movie</a></li>
        <li><a href="#">Delete Movie</a></li>
      </ul>
    </div>
  </div>
</div>
